<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grassyass.touchsomegrass">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TouchSomeGrass"
        tools:targetApi="31">
        <activity
            android:name=".activities.OnboardingActivity"
            android:label="@string/activity_onboarding_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/activity_login_label"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/activity_sign_up_label"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/activity_home_label"
            android:exported="false" />
        <activity
            android:name=".activities.WorkoutsActivity"
            android:label="@string/activity_workouts_label"
            android:exported="false" />
        <activity
            android:name=".activities.WorkoutSettingsActivity"
            android:label="@string/activity_workout_settings_label"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/activity_profile_label"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/activity_settings_label"
            android:exported="false" />
    </application>

</manifest>